@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

#content {
max-width: 1600px;
margin: 0 auto;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.msg {
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
}

.msg p {
    color: black;
    padding-bottom: 15px;
    text-align: center;
    display: grid;
    width: 100%;
    margin: 0 auto;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 100px;
    background-color: #396E94;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color: #396E94;
    font-family: "IM-Fell-French-Canon-SC", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #E7C24F;
    font-family: "Lato", Arial, sans-serif;
}

h3 a:hover {
    background-color: #A42212;
    color: white;
}

.order:hover {
    background-color: #A42212;
    color: white;
    margin-left: 0;
    padding: 0;
}

footer {
    background-color: #E7C24F;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title {
    color: white;
    font-family: "Lato", Arial, Sans-serif;
    font-size: 2em;
    margin-top: 0;
}

h4 {
    color: white;
}

#hero-img {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 0 auto;
    width: 100px;
}

.home-img {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 0 auto;
    width: 100%
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.home {
    border-color: #f44336;
    color: red
}

.home:hover {
    background: #f44336;
    color: white;
}

.page2 {
    border-color: #2196F3;
    color: dodgerblue
}

.page2:hover {
    background: #2196F3;
    color: white;
}

.page3 {
    border-color: #04AA6D;
    color: green;
}
  
.page3:hover {
    background-color: #04AA6D;
    color: white;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    #background {
        display: none;
    }
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}